.main {
  height: 100vh;
  background: url("../img/home.png");
  background-size: cover;
  background-position: center;

  position: relative;
}

.main .content {
  width: 70%;
  text-align: center;
  padding: 50px 10px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
}

.main .content p {
  color: #22601a;
  margin-bottom: 0.5rem;
  letter-spacing: 3px;
}

.main .content h1 {
  font-size: 7rem;
  letter-spacing: -1;
  line-height: 1.1;
  margin-bottom: 4rem;
}
