.btn {
  background: none;
  color: #fff;
  background-color: #22601a;
  border: none;
  outline: none;

  cursor: pointer;
}

.btn:hover {
  background-color: #419c35;
}

.get-start {
  font-size: 2rem;
  padding: 10px 20px;
}

.app {
  padding: 10px 20px;
}

.back {
  background-color: #7d7e7c;
  padding: 10px 20px;

  border-radius: 5px;
}

.back:hover {
  background-color: #717e6b;
}

.submit {
  background-color: #22601a;
  padding: 10px 20px;
  border-radius: 5px;
}
