.listItem {
  width: 100%;
  height: 7rem;
  font-size: 1.8rem;
  background-color: #d1d4d18c;
  backdrop-filter: blur(5px);
  border: 1px solid #fafafa;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
}

.listItem:hover {
  background-color: #9ea29e8c;
}

.listItem p {
  width: 100%;
  height: 100%;
  border-left: 1px solid #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.takeTwo {
  grid-column: 3/5;
}
